* {
    box-sizing:border-box;
}

html, body {
    height: 100dvh;
}

#mainwrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#oppdisplay, #playerdisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1 0 400px;
    width: 400px;
}

#oppdisplay {
    border: solid 5px maroon;
}

#playerdisplay {
    border: solid 5px green;
}

#oppchoice, #playchoice {
    width: 80%;
    height: 80%;
    padding: 5px;
    font-size: clamp(8em, 15vw, 14em);
    text-align: center;
}

#playtray {
    flex: 1 0 10vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#buttontray {
    display: flex;
    justify-content: space-evenly;
}

#rbut, #pbut, #sbut {
    display: none;
    flex: 0 0 70px;
    text-align: center;
}

#gobutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 60px;
    height: 25px;
    text-align: center;
    background-color: orange;
    border-radius: 4px;
    border: solid 2px navy;
}

#gobutton:active {
    animation-name: pressed;
    animation-duration: 150ms;
    animation-timing-function: linear;
}

#playresult {
    font-size: 1.5em;
    text-align: center;
}

#scorewrapper {
    position: sticky;
    height: 90dvh;
    width: 25dvw;
    overflow-y: auto;
    top: 20px;
    left: 20px;
    border: solid 5px cyan;
}

#scorekeeper {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: cyan;
}

#playerscore, #oppscore {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 1 20%;
    font-size: 1.75em;
}

/* might just make this a flex element instead */ 
#playerscore::before, #oppscore::before {
    position: relative;
    text-align: center;
    font-family: arial;
}

#playerscore::before {
    content: "You";
}

#oppscore::before {
    content: "Them";
}
@keyframes pressed {
    33% {
        background-color: red;
    }
    66% {
        background-color: purple;
    }
    100% {
        background-color: orange;
    }
}

@media only screen and (max-width: 1092px) {
    #oppdisplay, #playerdisplay {
        flex: 1 0 200px;
        width: 200px;
    }
    #mainwrapper {
        left: 70%;
        transform: translateX(-50%) translateY(-50%);
        height: 90%;
    }
}